 
/* Style The Dropdown Button */
.dropbtn {
    background-color: #f0faf0;
    color:rgba(0,0,0,.5);
    padding: .5rem 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(234, 234, 238);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px hsla(0, 60%, 97%, 0.993);
    z-index: 1;
    text-align: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:#dee2e6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #e0d9e0f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color:#dee2e6;
  }
  