.dropdown-menu {
  background: #5cdb95 !important;
}

.dropdown-menu :hover {
  background-color: #379683 !important;
  color: white !important;
}

.navbar a {
  color: #05386b !important;
  font-weight: bold;
}
